<!--<nav-bar params = "repositories: repositories"></nav-bar>
<div class = "col-sm-3">
    <div class="panel panel-primary">
        <div class="panel-heading">Image Info</div>
        <div class="panel-body">
            <!--<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#statistics" data-bind = "click: getImageStatistics" style = "margin-bottom: 0.5em;" >Statistics</button>
    -->
           <!-- <div id="statistics" >--><!--class="collapse"-->
               <!-- <h4>Selection</h4>
                <p data-bind = "text: accepted"></p>
                <p data-bind = "text: rejected"></p>
                <h4>Annotation</h4>
                <ul data-bind = "foreach: annotation">
                    <li data-bind = "text: $data"></li>
                </ul>
            </div>

            <img data-bind = "attr: {src: imageInfo.canonical}">
        </div>
    </div>
</div>-->
<!-- nella lista di imagini, ricopiala da edit-images campaign, metti <a href = "#" data-bind = "click: $parent.getImageInfo">-->