<nav-bar params = "repositories: repositories"></nav-bar>
<div class="container" style = "margin: auto">
    <div class="row" >
        <div class = "col-sm-2"></div>
        <div class="col-sm-8">
            <h1 style = "padding-bottom:1em; text-align: center">Success! The operation has been correctly carried out</h1>
            <div class = "row">
                <div class = "col-sm-6"></div>
                <div class = "col-sm-2">
                    <button data-bind = "click: proceed" class="btn btn-primary">Proceed</button>
                </div>
                <div class = "col-sm-4"></div>
            </div>
        </div>
        <div class = "col-sm-2"></div>
    </div>
</div>