
<nav-bar params = "repositories: repositories"></nav-bar>
<div class="container" style = "margin: auto">
    <div class="row" >
        <div class = "col-sm-2"></div>
        <div class="col-sm-8">
            <h1 style = "padding-bottom:1em; text-align: center">Your Crowdsourcing Campaign Starts Now</h1>
            <div class = "row">
                <div class = "col-sm-3"></div>
                <div class = "col-sm-3">
                    <a data-bind = "path: '/SignUp'" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-user"></span> SignUp</a>
                </div>
                <div class = "col-sm-3">
                    <a data-bind = "path: '/LogIn'" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-log-in"></span> LogIn</a>
                </div>
                <div class = "col-sm-3"></div>
            </div>
        </div>
        <div class = "col-sm-2"></div>
    </div>
</div>
