<nav-bar params = "repositories: repositories"></nav-bar>
<div class="container" style = "margin: auto">

    <div class="row" >
        <div class = "col-sm-2"></div>
        <div class = "col-sm-8">
                <div class="panel panel-primary">
                    <div class="panel-heading">Campaign statistics</div>
                    <div class="panel-body">
                        <p>
                            Number of images: <span data-bind = "text:images"></span><br/>
                            Number of accepted images: <span data-bind = "text:accepted"></span><br/>
                            Number of rejected images: <span data-bind = "text:rejected"></span><br/>
                            Number of annotations: <span data-bind = "text:annotation"></span>
                        </p>
                    </div>
                </div>
        </div>
        <div class = "col-sm-2"></div>
    </div>
</div>